:root {
  font-family: 'Ubuntu', sans-serif, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: #DDE6ED;
  background-color: #27374D;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
}

@media (width < 800px) {
  :root {
    font-size: 7px;
  }

  .Content {
    padding-top: 17rem;
  }
}

/*
COLOR PALETTE
#27374D
#526D82
#9DB2BF
#DDE6ED
*/

html {
  scroll-behavior: smooth;
}

/* body {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: grey solid 3px;
} */

.App {
  /* outline: rosybrown solid 2px; */
  display: flex;
  justify-content: center;
}

.header {
  font-size: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #27374D;
  z-index: 100;
  /* outline: red 1px solid; */
}

.header h1 {
  margin: 2rem 1rem .5rem;
}

.header h2 {
  margin: .5rem 1rem 3rem;
}

.Nav {
  display: flex;
  width: auto;
  /* outline: 1px orange solid; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.navButtons {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  /* outline: 1px solid green; */
  width: auto;
  justify-content: center;
}

.navButtons button {
  margin: 0 .5rem;
  font-size: 2rem;
  padding: .5rem 1rem;
  background-color: #9DB2BF;
  color: #27374D;
  text-align: center;
  text-justify: distribute;
  border: none;
  border-radius: 1rem;
  box-shadow: #526D82 0 1px 2px .5px;
  transition: all ease-in-out;
}

.navButtons button:hover {
  cursor: pointer;
  background-color: #66889e;
  transition: all ease-in-out;
  /* color: #5876a0; */
}

.navButtons button:active {
  box-shadow: #526D82 0 1px 2px .5px inset;
  background-color: #9DB2BF;
}

.indiceButton {
  font-weight: 600;
}

.searchIcon {
  /* outline: 1px yellow solid; */
  align-self: center;
  justify-self: center;
  font-size: 2rem;
  margin-right: 1rem;
}

#searchBar {
  font-size: 2rem;
  padding-left: 1rem;
  border-radius: 2rem;
  border: none;
  width: 25%;
  background-color: #9DB2BF;
  color: #27374D;
  transition: all ease-in 0.5s;
  box-shadow: #526D82 0 1px 2px .5px;
}

#searchBar:focus {
  width: 100%;
  transition: all ease-out 0.5s;
  box-shadow: #526D82 0 1px 2px .5px inset;
  background-color: #DDE6ED;
}

.searchBarWrapper {
  /* outline: 1px red solid; */
  display: flex;
  justify-content: center;
  width: 39.5rem;
}

.Content {
  /* outline: solid purple 2px; */
  padding: 24rem 2rem 2rem;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 90%;
}

.songTitle {
  font-size: 5rem;
  margin: 2rem 0;
  /* outline: brown solid 1px; */
  text-align: center;
}



.indice {
  list-style: none;
  font-size: 2.5rem;
  /* outline: solid 1px firebrick; */
  width: 100%;
  padding: 0;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  column-gap: 10rem;
}

.songBody {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;
}

.songBody p {
  margin: .5rem 0;
}

.songIndiceWrapper {
  display: flex;
  justify-content: center;
  padding: 0;
}

.songIndice {
  position: relative;
  margin-bottom: 1rem;
  text-decoration: underline;
  padding: .5rem .5rem;
  transition: all .5s ease-in-out;
  text-shadow: #070808 .2rem .2rem .2rem;
  /* outline: 1px black solid; */
  text-align: center;
}

.vecesPedida {
  font-size: 1.5rem;
  margin: 0;
  color: #9DB2BF;
}

.songIndice::before {
  content: "";
  background-color: aquamarine;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0%;
  left: 0%;
  --gradient: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(221,230,237,1) 25%, rgba(157,178,191,1) 50%, rgba(221,230,237,1) 75%, rgba(255,255,255,0) 100%);
  background: var(--gradient);
  opacity: 0;
  transform: scaleX(0);
  transition: .5s;
}

.songIndice:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

.songIndice:hover{
  color: #070808;
  cursor: pointer;
  transition: all .5s ease-in-out;
  text-decoration: none;
  text-shadow: none;
}

/* .tooltip {
  position: absolute;
  transform: translate(-6.5rem, -1rem);
  text-align: center;
  opacity: 0;
  pointer-events: none;
}

.navButtons li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: ease-in-out all 0.3s;
  transform: translate(-6.5rem, -3rem);
} */